* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	border: solid black 10px;
	width: 450px;
}

header {
	margin: 5px;
}

.ammount {
	margin: 5px;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	font-size: 14px;
}

.flex {
	display: flex;
	justify-content: space-between;
	margin: 5px;
	font-weight: bold;
	font-size: 14px;
}

.c_m {
	display: flex;
	width: 100px;
	justify-content: space-between;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 18px;
}

.calories {
	margin-left: 15px;
	font-weight: 400;
}

.paragraph {
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
}

.flex1 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 12px;
	margin-right: 40px;
}

.flex1 div {
	margin-left: 100px;
	margin-top: 20px;
}

.flex2 {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-top: 0px;
	margin-right: 5px;
}

.ir {
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 30px;
}

.keynote {
	display: flex;
	flex-direction: row;
}

.keynote_names {
	margin-left: 5px;
	font-size: 12px;
}

.keynote_less {
	margin-left: 30px;
	font-size: 12px;
}

.keynote_2 {
	text-align: left;
	margin-left: 60px;
	font-size: 12px;
}

.keynote_3 {
	text-align: left;
	margin-left: 85px;
	font-size: 12px;
}

.cpg {
	font-size: 12px;
	margin-left: 5px;
}

.flex3 {
	display: flex;
	justify-content: space-evenly;
	font-size: 12px;
	list-style-type: none;
}
